
ul {
    text-decoration: none;
    list-style: none;
   
}
.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}
.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.dreamcard {
    height:23rem;
    width: 14rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 1.2rem;

    &__image {
        height: 85%;
        max-width: 100%;
        object-fit: cover;
        
        
    }
    &__name{
        margin: 0;
    }
}
main {
    margin: 5rem;
}

.dreamcards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.header {
    display: flex;
}