
ul {
    text-decoration: none;
    list-style: none;
   
}
a {
    margin: 0;
}
.logo__sect {
   display: flex;
    justify-content: flex-start;
    margin-left: 4rem; 
}
.logo {
    height: 4rem;
    margin: 1rem 0 0 0;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -2rem;
    &__todo:active {
        border-bottom: 1px solid;
    }
}
.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.dreamcard {
    height:23rem;
    width: 14rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 1.2rem 0.5rem 1.2rem;

    &--add {
        display: flex;
       justify-content: center;
       font-family: "Kalam";
       font-weight: 400;
    }

    &__image {
        height: 85%;
        max-width: 100%;
        object-fit: cover;
        
        
    }
    &__name{
        margin: 0.7rem 0 0 0;
        font-family: "Kalam";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}
main {
    margin: 4rem;
}

.dreamcards {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.header {
    display: flex;
}