

.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
    margin-bottom: 0;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -3rem;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.homecard {
    height:13rem;
    width: 6rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 1.2rem 0.5rem 1.2rem;
    
        // left: 0%;
        // top: 0%;
        
      
    &__image {
        height: 85%;
        max-width: 100%;
        object-fit: cover;
    }
    &__name{
        margin: 0.7rem 0 0 0;
        font-family: "Kalam";
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.3rem;
    }
}
.homecards__track {
    display: flex;
    flex-direction: column;
    position: relative;
  width: 10rem;
  height: 100vh;
  animation: 3s linear infinite;
}
.homepage__main {
    margin: 0 5rem;
    display: flex;
}
.title {
    width: 70%;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
}
.homecards {
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
    // flex-wrap: wrap;
    gap: 1rem;
   
    // background: white;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	// margin: auto;
	// overflow:hidden;
	// position: relative;
	
	// &::before,
	// &::after {
	// 	content: "";
	// 	height: 100px;
	// 	position: absolute;
	// 	width: 200px;
	// 	z-index: 2;
	// }
	
	// &::after {
	// 	right: 0;
	// 	top: 0;
	// 	transform: rotateZ(180deg);
	// }

	// &::before {
	// 	left: 0;
	// 	top: 0;
	// }
}
